/* VARIABLES */



/* RESPONSIVE */

/* Fonts */

body{
    font-size:65%;
    font-weight:300;
}

@media screen and (max-width:1024px){
    
    body{
        font-size: 55%;
    }
    
}

@media screen and (max-width:600px){
    
    body{
        font-size:35%;
    }
    
}