.content.content-perso{
      
    .perso-section{
        display: flex;
        width:100%;
        
        .perso-section-aside{
            width:250px;
            position:relative;
            border-right:2px solid #d7c8b7;
            padding:20px 0px 100px 0px;
            
            .perso-section-title{
                width:120%;
                position:relative;
                left:20%;
                border-bottom: 2px solid #d7c8b7;
                font-size: 1.5em;
                text-transform: uppercase;
                color:#645152;
                padding-bottom:5px;
                padding-left:3px;
            }
            
        }
        
        @media screen and (max-width:600px){
            
            .perso-section-aside{
                width:150px;
            }
            
        }
        
        .perso-section-content{
            flex:1;
            position: relative;
            padding:100px 0px 100px 0px;
            padding-left: 40px;
            
            .perso-section-col{
                display: inline-block;
                vertical-align: text-top;
                //float:left;
                border-right :2px solid #d7c8b7;
                padding-bottom:40px;
                padding-right:20px;
                
                h3{
                    color:#432e2a;
                    text-transform: uppercase;
                    margin-bottom:30px;
                }
                
                h4{
                    font-size:0.9em;
                    line-height: 1.2;
                    margin-top:10px;
                    font-weight:400;
                    
                    &:first-child{
                        margin-top:0px;
                    }
                    
                }
                
                span{
                    font-size:0.8em;
                    line-height: 1.2;
                }
                
                p{
                    font-size:0.8em;
                    line-height: 1.2;
                }
                
                img{
                    display: block;
                    width:50%;
                    height:auto;
                    margin-top:20px;
                }
                
            }
            
            @media screen and (min-width:900px){

                .perso-section-col{
                    width:27%;
                    margin-right:5%;
                    margin-bottom:70px;


                    &:nth-child(3n){
                        margin-right:0px;
                        border-right:none;
                    }
                }

            }

            @media screen and (max-width:900px) and (min-width:600px){

                .perso-section-col{
                    width:40%;
                    margin-right:5%;
                    margin-bottom:70px;

                    &:nth-child(2n){
                        margin-right:0x;
                        border-right:none;
                    }

                }
            }
            
            @media screen and (max-width:600px){
                
                .perso-section-col{
                    width:90%;
                    margin-right:0;
                    margin-bottom:70px;
                    border-right:none;

                }
                
            }
            
        }
        
    }
    
}


/* Intro */

.perso-intro{
    
    .perso-section-aside{
        
        img{
            display: block;
            width:100%;
            height:auto;
        }
        
    }
    
    .perso-section-content{
        padding-top:50px !important;
        
        h1{
            font-size: 3em;
            text-transform: uppercase;
            color:#645152;
            margin-top:20px;
        }
        
        p{
            width:90%;
            margin-top:30px;
            margin-left:3px;
            line-height:1.4;
        }
        
    }
    
}



/* Videos */

.perso-videos{
    
    .perso-section-content{
        
        .perso-section-col.perso-video{
            border-right:none !important;
            
            h3{
                margin-bottom:20px;
            }
            
            .perso-video-poster{
                position:relative;
                width:100%;
                height:170px;
                background-size: cover;
                background-position:auto;
                overflow: hidden;
                
                .overflow{
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    background-color:rgba(0, 0, 0, 0.7);
                    text-align:center;
                    opacity:0;
                    transition:all 0.3s ease;
                    
                    .btn{
                        margin-top:0;
                        position:relative;
                        margin:auto;
                        top:-50px;
                        font-size:0.8em;
                        transition:all 0.5s ease;
                    }
                    
                    &:hover{
                        opacity:1;
                        
                        .btn{
                            top:35%;
                        }
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}


/* Stories */

.perso-stories{
    
    .perso-section-content{
        
        ul{
            list-style: none;
            
            li{
                margin-bottom:40px;
                border-left:2px solid #d7c8b7;
                padding-left:10px;
                line-height: 1.2;
            }
            
        }
        
    }
    
}


/* Cult */

.perso-cult{
    
    .perso-section-content{
        
        blockquote{
            width:70%;
            margin:auto;
            font-size:3em;
            text-align:left;
            font-weight:400;
            
            &:before{
                display:block;
                content:"";
                width:50px;
                height:50px;
                background-image:url(../img/perso/guillemets.png);
                background-size:contain;
                background-repeat: no-repeat;
                position:relative;
                left:-70px;
                top:30px;
            }
            
            &:after{
                display:block;
                float:right;
                content:"";
                width:50px;
                height:50px;
                background-image:url(../img/perso/guillemets.png);
                background-size:contain;
                background-repeat: no-repeat;
                position:relative;
                top:20px;
                transform:scaleX(-1);
            }
            
        }
        
    }    
    
}


/* Stats */

.perso-stats{
    
    .perso-section-content{
        
        .perso-skills{
            width:90%;
            
            ul{
                display:flex;
                width:100%;
                position:relative;
                height:150px;
                list-style: none;

                li{
                    flex:1;
                    height:100%;
                    background-color:#bdaa98;
                    position:relative;
                    
                    &:after{
                        display:block;
                        content:"";
                        width:0;
                        left:0;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid #000;
                        position:relative;
                        left:calc(50% - 20px);
                        top:20%;
                        z-index:-10;
                    }
                    
                    &.active:after{
                        top:100%;
                    }

                    a{
                        display: block;
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        z-index:20;

                        img{
                            display: block;
                            width:auto;
                            height:40%;
                            margin:auto;
                            position:relative;
                            top:15%;
                        }
                        
                        @media screen and (max-width:600px){
                            
                            img{
                                width:50%;
                                height:auto;
                            }
                            
                        }

                        .perso-skill-data{
                            display: block;
                            width:100%;
                            position:absolute;
                            bottom:10%;
                            text-align:center;
                            font-size: 0.8em;
                            color:#ffffff;
                            text-transform: uppercase;
                            
                            h4{
                                position:relative;
                                display:block;
                            }

                            span{
                                margin-top:3px;
                                font-size:0.9em !important;
                                font-weight:400;
                                display: block;
                                font-size:0.6em;
                            }

                        }

                    }

                    .perso-skill-progress{
                        position:absolute;
                        bottom:0;
                        left:0;
                        width:100%;
                        z-index:10;
                        opacity:0.5;
                        transition:all 0.2s ease;
                    }

                    &:hover{

                        .perso-skill-progress{
                            opacity: 1;
                            height:100% !important;
                        }

                    }

                    &.perso-skill-global{
                        background-color:#bdaa98;

                        .perso-skill-progress{
                            background-color:#000000;
                        }
                        
                        &:after{
                            border-top-color:#bdaa98;
                        }

                    }

                    &.perso-skill-fight{
                        background-color: #a69081;

                        .perso-skill-progress{
                            background-color: #352932;
                        }
                        
                        &:after{
                            border-top-color:#a69081;
                        }

                    }

                    &.perso-skill-intellect{
                        background-color:#f7f3ee;

                        .perso-skill-progress{
                            background-color:#e2d7c7;
                        }

                    }

                    &.perso-skill-strength{
                        background-color:#ad9788;

                        .perso-skill-progress{
                            background-color:#42343b;
                        }
                        
                        &:after{
                            border-top-color:#ad9788;
                        }

                    }

                    &.perso-skill-cool{
                        background-color:#dfd4c4;

                        .perso-skill-progress{
                            background-color:#7b6560;
                        }
                        
                        &:after{
                            border-top-color:#dfd4c4;
                        }

                    }

                }

            }
            
        }

        .perso-ranks{
                width:90%;
                margin-top:50px;
                list-style:none;

                .perso-ranking{
                    position:relative;
                    width:100%;
                    height:40px;
                    background-color:#f0eae1;
                    border-radius:2px;
                    margin-bottom:5px;

                    .perso-ranking-datas{
                        display:flex;
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        z-index:20;

                        .perso-ranking-number{
                            position:relative;
                            width:36px;
                            height:36px;
                            background-color:red;
                            border-top-left-radius: 2px;
                            border-bottom-left-radius: 2px;
                            position:relative;
                            top:2px;
                            left:2px;
                            background-color:#c6b3a1;
                            font-size:1.2em;
                            font-weight:400;
                            padding-top:10px;
                            color:#a38c7f;
                            text-align:center;
                        }

                        .perso-ranking-picture{
                            position:relative;
                            top:2px;
                            padding-top:4px;
                            padding-left:2px;
                            height:36px;
                            width:auto;
                        }

                        .perso-ranking-name{
                            position:relative;
                            top:calc(50% - 0.35em);
                            font-size:1.1em;
                            text-transform: uppercase;
                            color:#ffffff;
                            font-weight:400;
                        }

                    }

                    .perso-ranking-progress{
                        position:absolute;
                        height:calc(100% - 4px);
                        width:calc(100% - 4px);
                        top:2px;
                        left:2px;

                        span{
                            display: block;
                            position:absolute;
                            top:0;
                            left:0;
                            height:100%;
                            background-color:#cdbdaa;
                            border-radius:2px;
                            text-align:right;
                            padding-top:0.5em;
                            padding-right:10px;
                            color:#ffffff;
                            text-transform: uppercase;
                        }

                    }

                    &.focus{
                        margin-top:30px;
                        background-color:#c3b09e;

                        .perso-ranking-datas .perso-ranking-number{
                            background-color:#957e73;
                            color:#645152;
                        }

                        .perso-ranking-progress span{
                            background-color:#a38c7f;
                        }

                    }
                
            }
            
        }
        
    }
    
}